# Global code owners for the entire repository
# Frontend Team
* @jotaesteves @thomas36058 @VSamuelPAraujo

# Team contact information:
# @jotaesteves <jorge.esteves@itsector.pt>
# @VSamuelPAraujo <samuel.araujo@itsector.pt>
# @thomas36058 <thomas.simoes@itsector.pt>
